*{
    margin: 0;
    padding:0;
    box-sizing : border-box;
    text-decoration:none;
    background: transparent;
}

body{
    background: #4F4557;
    color: #F4EEE0;
    overflow: hidden;
    overflow-y : scroll;
}