#about {
    display: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .image {
    height: 22rem;
    width: 21rem;
    margin-bottom: 1rem;
    border-radius: 30rem;
    border: solid;
  }
  
  .aboutCont {
    padding: 2.5rem;
    text-align: center;
    z-index: 1;
  }
  
  .aboutIntro {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }
  
  .aboutIntro:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .aboutPa {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    margin-top: 2rem;
    z-index: 1;
  }
  
  .cont {
    display: flex;
    justify-content: safe;
    align-items: center;
    animation-name: example;
    animation-duration: 2s;
    z-index: 1;
  }
  
  .contacts .cont {
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 100%;
    border: solid rgb(66, 64, 64);
    z-index: 1;
  }

  .cont linktree .cont github .cont linkedln
  {
    z-index: 1;
  }
  
  @media screen and (max-width: 710px) {

    #about {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .image {
      order: 0;
      align-items: center;
      width: 10rem;
      height: 10rem;
    }
  
    .aboutCont {
      order: 1; 
      margin-top: 0.4rem;
      padding: 1.5rem;
    }
  
    .cont {
      flex-direction: column;
    }
  }
  