#skill {
    z-index: 1;
    color: rgb(190, 190, 37);
    /* font-weight: 700; */
    font-size: 2rem; /* Adjusted font size */
    line-height: 1;
    margin: 0 auto;
    /* width: 100%; */
    text-align: center;
    align-content: center;
  }
  
  .content {
    /* width: 80vw; */
    position: relative;
    background-color: rgb(19, 3, 3);
    /* height: 80vh; */

    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden; 
    background: repeating-radial-gradient(circle, rgba(0, 0, 0, 0.4) 10px, rgba(0, 0, 0, 0.5) 10px, #464242 120px);
  }
  
  .cont1 {
    position: absolute;
    border-radius: 13%;
    /* background-color: white; */
    /* color: rgb(37, 36, 36); */
    padding: 2rem;
    cursor: pointer;
    size: 2rem;
    transition: transform 0.2s;
  }

  .conti:hover{
    transform: scale(1.05);
}
  
  .conti {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(56, 54, 54);
    color: aliceblue;
    cursor: pointer;
    size: 1.5rem;
    padding: 0.75rem 1.5rem;
    position: absolute;
    transition: transform 0.2s;
  }