
.navlist
{
    text-align: right;
    padding: 0rem 5rem; /* 0px and 80px converted to rem */
    background-color: #1a1819;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    border: 1rem solid #1a1819;
}



.navButton
{
    color: #F4EEE0;
    padding: 0.5625rem 0.625rem; /* 9px and 10px converted to rem */
    margin: 0rem 0.15625rem; /* 0px and 2.5px converted to rem */
    border-style: none;
    border:  solid #1a1819;
}

.navButton:hover {
    color: antiquewhite;
    border-top:  solid rgb(196, 240, 74); /* 6px converted to rem */
    border-bottom:  solid rgb(196, 240, 74); /* 6px converted to rem 0.375rem*/
}
