/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root Variables */
:root {
    --primary: rgb(196, 240, 74);
    --secondary: #2ecc71;
    --background: rgba(22, 21, 21, 1);
    --text-light: #F4EEE0;
    --text-dark: #161515;
    --background-dark: #161515;
}

/* Navbar Styles */
.navlist {
    padding: 0 10.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.menuButton {
    display: none;
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 24px;
    cursor: pointer;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navButton {
    color: var(--text-light);
    padding: 0.5625rem 2rem;
    /* margin: 0 0.15625rem; */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.navButton:hover {
    color: var(--text-dark);
    background-color: var(--primary);
    border-radius: 50%;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navlist {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .menuButton {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navLinks.open {
        display: flex;
        width: 50%;
        height: 30rem;
        background-color: rgb(113 143 31);
        align-items: center;
        justify-content: center;
    }

    .navButton {
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
    }
}

/* Animation for Navbar */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.navlist {
    animation: slideDown 0.5s ease;
}
