
#intro {
    height: 90vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 1;
    object-fit: cover; 
    width: 40%; 
    height: 80vh; 
}


.introContent {
    height: 80vh;
    width: 100vw;
    /* width: 50%;  */
    text-align: left; 
    padding-left: 3rem; /* Gives some space from the left edge */
    font-size: 3rem;
    font-weight: 700;
   
}


.hello
{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName
{
    color: rgb(196, 240, 74);
}

.para
{
    margin-top: 1rem;
    font-size: medium;
    font-weight: 100;
}

.btn {

    margin-top: 1rem;
    background-color: white;
    padding: 1.5rem 2.3rem;
    border-radius: 3rem;
    font-size: 1rem; /* Adjust the font size as needed */
    cursor: pointer;
}

.btn:hover{
    box-shadow: 10px black;
}
