@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#intro {
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 1;
  object-fit: cover;
  width: 40%;
  height: 80vh;
}

.introContent {
  position: relative;
  /* text-align: left; */
  padding-left: 3rem;
  font-size: 3rem;
  font-weight: 700;
  z-index: 2; /* Ensures it appears above particles */
  animation: slideInLeft 1s ease-out;
  
}

.hello {
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 4rem;
  animation: fadeIn 2s ease-in;
}

.introName {
  color: rgb(196, 240, 74);
  animation: fadeIn 2s ease-in 1s;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.para {
  margin-top: 1rem;
  font-size: medium;
  font-weight: 100;
  animation: fadeIn 2s ease-in 1.5s;
}

.btn {
  margin-top: 1rem;
  background-color: white;
  padding: 1.5rem 2.3rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2; /* Ensures it appears above particles */
  animation: fadeIn 2s ease-in 2s;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

 .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  margin-top: 2rem;
  z-index: 10;
}

.socials{
  display: flow;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.social-cont{
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 0.5rem;
}

@media screen and (max-width: 710px) {
  #intro {
    padding-top: 0;
    padding-bottom: 0;
  }

  .introContent {
    padding-left: 0;
    text-align: center;
    /* font-size: 1.5rem; */
    animation: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .introName, .hello {
    font-size: 1.9rem;
  }

  .dynamic {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.8rem;
  }
}
